

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
   
    padding: 16px 120px;
}  
#banner{
    background-image: url("../assets/hero-bg.png");
    max-width: 1600px;
    max-Height:674px  ;
    padding:116px 120px 180px;

  
}

nav{
   max-width:1600px;
   margin: 0px auto;
   background-color:#FFFFFF;
   display: flex;
   justify-content: space-between;
   padding:0 120px;
}

nav .item{
    display:flex;
    gap:32px;
    list-style-type: none;
    align-items: center;
    
}

nav .item a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    margin-top: 18px;
    
} 

.logo{
    font-weight: 70px;
    color:#001931;
    margin-top: 16px;
    margin-bottom:16px;
    margin-left: 120px;
}

.btn{
background-color: #30B868;
color:#FFFFFF;
padding:12px 16px;
border-radius: 4px;
font-size: 16px;
margin-bottom: 25px;
cursor: pointer;
}
.btn:hover{
    background-color:#013215 ;
}

.btn1{
background:none;
color:#FFFFFF;
font-size: 16px;
padding:12px 16px;
border-radius: 4px;
cursor: pointer; 
}

.btn1:hover{
    background-color:#013215;
}

#banner .item{
width: 1360px;
height:379px;
text-align: center;
}

.item .item1{
background-color: #FFFFFF;
width:229px;
border:none;
border-radius: 1000px;
padding: 8px 12px;
justify-content: center;
text-align: center;
margin:0 auto;
}

.item .item2{
font-size: 36px;
margin-top: 16px;
line-height: 84px;
}

.item .item3{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 16px;
}

.item .item4{
    gap:16px;
}
#notes{
   text-align: center;
}

#notes .notes-container{
    max-width:1360px ;
    margin-bottom: 44px;
    margin: 0 auto;
    
}

#notes .notes-container .notes-1{
    display:flex;
    gap:24px;
}

.notes-header{
    max-width: 1360px;
    font-size: 30px;
    text-align: center;
   margin-bottom: 16px;
   color:#001931 ;
    
}

.notes-pera{
    max-width: 1360px;
    text-align: center;
   margin-bottom: 44px;
   font-size: 16px;
   line-height: 20px;
   color:#627382 ;
    
}

.notes-1 .notes-card{
    padding: 24px;
    text-align: center;
    box-shadow: 0 0 8px 0 #000000;
    max-width: 322px;
}

.notes-card img{
    background-color: red;
    border-radius: 30px;
    padding:5px;
    max-width:60px ;
    margin-bottom:16px ;
}

.notes-card h3{
    font-size:24px ;
    color: semi bold;
    margin-bottom:16px ;
}

.notes-card p{
    font-size: 16px;
    color:#627382;
    line-height: 20px;
    
}

#solution{
    margin: 120px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#solution .solution-container p{
    font-size: 16px;
    line-height: 20px;
  color:#30B868;
  gap:60px;
  margin-bottom: 40px;
  padding:102px;
 
}

#solution .solution-container h2{
font-size: 48px;
  color:#001931;
  font-weight: bold;
 margin-bottom: 16px;
}



.solution-container .solution-image{
  width: 600px;
  height: 600px;
  border-radius: 12px;
}

.solution-content .s.text {
  margin: 102px 0px;
}
 .solution1{
    font-size: 16px;
    line-height: 20px;
    width:700px;
 }

 #access .access-container{
    text-align: center;
    margin:0 auto;
    background-color: #F7F6F2;
    max-width:1360px ;
    padding:80px 40px;
 }

  #access .access-container p{
    font-size:16px ;
    line-height: 24px;
    color:#627382;
    margin-top: 24px;
    margin-bottom:16x ;
  }

  #access .access-container h2{
    font-size:40px ;
    font-weight: bold;
    margin-top: 80px;
  }